<ul class="breadcrumb">
    {% for foo in breadcrumb %}
        {% if forloop.last %}
            <li class="active">{{ foo.name }}</li>
        {% else %}
            <li><a href="{{ foo.url }}">{{ foo.name }}</a></li>
        {% endif %}
    {% endfor %}
</ul>

